registry=https://pkgs.dev.azure.com/RLG-UK/_packaging/RL-External/npm/registry/ 
always-auth=true

; begin auth token
//pkgs.dev.azure.com/RLG-UK/_packaging/RL-External/npm/registry/:username=RLG-UK
//pkgs.dev.azure.com/RLG-UK/_packaging/RL-External/npm/registry/:_password=NDd1anVjc3hyZHZkdGpkeDd1aHE0NGp6djNjNjQ3M3RnaWVkM3RxNG4ya2x5am1ndDduYQ==
//pkgs.dev.azure.com/RLG-UK/_packaging/RL-External/npm/registry/:email=venkat@abbeyst.com
//pkgs.dev.azure.com/RLG-UK/_packaging/RL-External/npm/:username=RLG-UK
//pkgs.dev.azure.com/RLG-UK/_packaging/RL-External/npm/:_password=NDd1anVjc3hyZHZkdGpkeDd1aHE0NGp6djNjNjQ3M3RnaWVkM3RxNG4ya2x5am1ndDduYQ==
//pkgs.dev.azure.com/RLG-UK/_packaging/RL-External/npm/:email=venkat@abbeyst.com
; end auth token
